body {
    background-color: #135E8E;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

p {
    margin: 0 !important;
}

.bar-status {
    background-color: #FF6869;
    height: 7%;
    display: flex;
    padding-right: 2%;
}

.footer, .header {
	background:#0B7197;
    height: 7%;
    display: flex;
}

.main {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    padding: 2%;
    flex-direction: column;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.align-end {
    align-items: center;
    justify-content: end;
}

.name-text {
    font-size: 2em; 
    color: #11547E;
}

.status-text {
    font-size: 1.2em;
    color: white;
    margin-right: 0.5em;
}

.qty-indicator-text {
    color: white; 
    font-weight: normal; 
    font-size: 1.2em; 
    margin-bottom: 2% !important;
}

.consume-btn {
    border-radius: 5px;
    background-color: #7CB5D2;
    border: none;
    color: white;
    height: 7%;
    margin-bottom: 2% !important;
}

.pass-btn {
    border-radius: 5px;
    background-color: #86CE84;
    border: none;
    color: white;
    height: 7%;
    margin-bottom: 2% !important;
}