<div class="main-coffee">
    <!-- HEADER -->
    <div class="header align-center">
        <img src="../assets/Logo_SYNECO.svg" style="height: 70%;">
    </div>
    <!-- STATUS -->
    <div class="bar-status align-end" [style.background]="coffeeMakerStatus_color">
        <p class="status-text margin-text-end">{{coffeeMakerStatus_text}}</p>
    </div>
    <!-- ÁREA CENTRAL -->
    <div class="main-informations">
        <p class="qty-indicator-text">DISPONÍVEL: 0 / 30 xic.</p>
        <button class="consume-btn">CONSUMIR CAFÉ</button>
        <button class="pass-btn" (click)="passCoffee()">PASSAR CAFÉ</button>
    </div>
    <!-- RODAPÉ -->
    <div class="footer align-center">
        <p class="name-text">SKA</p>
    </div>
</div>