<div fxFill fxLayout="column">
    <!-- HEADER -->
    <div class="header" fxLayoutAlign="center center">
        <img src="../assets/Logo_SYNECO.svg" style="height: 70%;">
    </div>
    <!-- STATUS -->
    <div class="bar-status" fxLayoutAlign="end center" [style.background]="coffeeMakerStatus_color">
        <p class="status-text margin-text-end">{{coffeeMakerStatus_text}}</p>
    </div>
    <!-- ÁREA CENTRAL -->
    <div class="main-informations">
        <p class="qty-indicator-text">DISPONÍVEL: {{actualQtyCoffee}} / {{totalQtyCoffee}} xic.</p>
        <button  mat-raised-button class="consume-btn" [disabled]="coffeeMakerStatus!=2" (click)="consumeCoffee()">CONSUMIR CAFÉ</button>
        <button  mat-raised-button class="pass-btn" [disabled]="coffeeMakerStatus!=0" (click)="passCoffee()">PASSAR CAFÉ</button>
        <!-- <button  mat-raised-button class="historic-btn" (click)="logHistoric()">LOG CONSUMO</button> -->
    </div>
    <!-- RODAPÉ -->
    <div class="footer" fxLayoutAlign="center center">
        <p class="name-text">SKA</p>
    </div>
</div>
