p {
    margin: 0 !important;
}

.bar-status {
    height: 7%;
    display: flex;
    padding-right: 2%;
}

.footer, .header {
	background:#0B7197;
    height: 7%;
    display: flex;
}

.main-informations {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    padding: 2%;
    flex-direction: column;
}

.name-text {
    font-size: 2em; 
    color: #11547E;
}

.status-text {
    font-size: 1.2em;
}

.qty-indicator-text {
    font-weight: normal; 
    font-size: 1.2em; 
}

.consume-btn {
    background-color: #7CB5D2;
}

.pass-btn {
    background-color: #86CE84;
}

.pass-btn, .consume-btn {
    height: 7%;
    color: white;
}

.pass-btn, .consume-btn, .qty-indicator-text {
    margin-bottom: 2% !important;
}